<h2>Подробно о {{bar.name}}</h2>

    <img ng-src="{{'/resources/original/'+bar.id+'.png'}}" height="500" alt=""/>
    <table>
        <tr>
            <td><label for="id">id: </label> </td>
            <td><input id="id" ng-model="bar.id"/></td>
        </tr>

        <tr>
            <td><label for="name">Название: </label> </td>
            <td><input  id="name" ng-model="bar.name"/></td>
        </tr>

        <tr>
            <td><label for="date">Дата изготовления: </label> </td>
            <td><input  id="date" ng-model="bar.date"/></td>
        </tr>

        <tr>
            <td><label for="weight">Масса: </label> </td>
            <td><input  id="weight" ng-model="bar.weight"/></td>
        </tr>

        <tr>
            <td><label for="additional">Комментарий: </label> </td>
            <td><input id="additional" ng-model="bar.additional"/></td>
        </tr>

        <tr>
            <td><label for="brand">Изготовитель: </label> </td>
            <td><input  id="brand" ng-model="bar.brand.name"/></td>
        </tr>
    </table>
<br/>
<br/>
Перейти к <a href="#/bars/">списку шоколадок</a>